svg.hamburger__menu(viewBox="0 0 100 80" width="40" height="40")
    rect(width="80" height="10" rx="8")
    rect(y="30" width="80" height="10" rx="8")
    rect(y="60" width="80" height="10" rx="8")
// svg.hamburger__menu__close(viewBox="0 0 40 40" width="1em" height="1em"  x="0" y="0" preserveAspectRatio="xMidYMid meet")
//     path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z")
