nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | Cartinia Classic Cars

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/team") Team
      li.navigation__list__item
        a.navigation__list__link(href="/sell") On Sale Cars
      li.navigation__list__item
        a.navigation__list__link(href="/sold") Sold Cars
      li.navigation__list__item
        a.navigation__list__link(href="/contact") Contact
