nav.navigation
  .navigation__wrapper
    .navigation__bar
      a.navigation__link(href="/")
        img.navigation__link__icon(alt=navbar.data.logo.alt src=navbar.data.logo.url)
      .navigation__hamburger
        a.navigation__hamburger__link(href="/menu")
          include ./hamburger

