.sale__wrapper {
  @extend %relative;
}

.on_sale__banner {
}

.on_sale__banner__image {
  @extend %banner;
}

.on_sale__title {
  @extend %title;
  color: $color-quarter-spanish-white;
}

.on_sale__caption {
  @extend %alert;
}

.on_sale__caption__text,
.on_sale__caption__text__two {
  @extend %caption_text;
}

.on_sale__caption__text {
  @extend %first_marquee;
}

.on_sale__caption__text__two {
  @extend %second_marquee;
  animation-delay: 5s;
}

.on_sale__caption__phone,
.on_sale__caption__email {
  // text-align: left;
}

.on_sale__caption__phone__text,
.on_sale__caption__email__text {
  // display: inline-block;
}

.on_sale__caption__icon {
  fill: $color-ferrari-red;
  top: 0.25em;
  position: relative;
  display: inline-block;
  padding-right: 5px;
}

.on__sale__cars__wrapper {
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: auto;
  margin-top: 90px;
  column-gap: 10px;

  @include media("<tablet") {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media("<phone") {
    grid-template-columns: 1fr 1fr;
  }
  @include media("<smallphone") {
    grid-template-columns: 1fr;
  }
}

.on_sale__car {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.on-sale__car__media {
  border: 1px solid $color-night-blue;
  overflow: hidden;
}

.on_sale__car__media__image {
  width: 100%;
  object-fit: contain;
  padding: 10px;
  transition: transform 0.5s ease;
  background-color: $color-quarter-spanish-white;
}

.on_sale__car__media__image:hover {
  transform: scale(1.5);
}

.on_sale__car__description {
  @extend %car_description;
  text-align: center;
}

.on_sale__cars__question__wrapper {
  padding: 30px;
  text-align: center;
}

.on_sale__cars__question__title {
  @extend %title;
  color: $color-quarter-spanish-white;
}

.on_sale__cars__question__button {
  border: 1px solid $color-night-blue;
  padding: 16px 32px;
  background-color: $color-ferrari-red;
}

.on_sale__cars__question__button__label {
  font-size: 20px;
  font-family: $quicksand-bold;
  color: $color-quarter-spanish-white;
}
