$color-night-blue: #0d1826;
$color-night-blue-transparent: rgba(13, 24, 38, 0.4);
$color-ferrari-red: #f20519;
$color-navy: #011c40;
$color-sunny-sky: #9ac5fc;
$color-quarter-spanish-white: #f9f1e7;

$airstream: "AirstreamNF";
$quicksand: "Quicksand-Regular";
$quicksand-light: "Quicksand-Light";
$quicksand-medium: "Quicksand-Medium";
$quicksand-semibold: "Quicksand-Semibold";
$quicksand-bold: "Quicksand-Bold";
$raleway-thinitalic: "Raleway-Thinitalic";
$raleway-thin: "Raleway-Thin";
$raleway-bold: "Raleway-Bold";
$raleway-black: "Raleway-Black";
$raleway-blackitalic: "Raleway-BlackItalic";
$raleway-bolditalic: "Raleway-BoldItalic";
$raleway-extrabold: "Raleway-ExtraBold";
$raleway-extrabolditalic: "Raleway-ExtraBoldItalic";
$raleway-extralight: "Raleway-ExtraLight";
$raleway-extralightitalic: "Raleway-ExtraLightItalic";
$raleway-italic: "Raleway-Italic";
$raleway-light: "Raleway-Light";
$raleway-lightitalic: "Raleway-LightItalic";
$raleway-medium: "Raleway-Medium";
$raleway-mediumitalic: "Raleway-MediumItalic";
$raleway: "Raleway-Regular";
$raleway-semibold: "Raleway-SemiBold";
$raleway-semibolditalic: "Raleway-SemiBoldItalic";
$raleway-thinitalic: "Raleway-ThinItalic";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("navigation", "content");

$assetPath: "./../public/";
