.footer {
  position: relative;
  margin-bottom: 0;
  background-color: $color-night-blue;
  margin-top: 90px;
  height: auto;
  text-align: center;
  border-top: 1px solid $color-quarter-spanish-white;
}
.footer__wrapper {
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  column-gap: 10px;

  @include media("<tablet") {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media("<smallphone") {
    grid-template-columns: 1fr;
  }
}
.footer__contact__wrapper {
  color: $color-quarter-spanish-white;
  margin: auto;
}
.footer__address {
  font-style: italic;
}
.footer__phone {
  margin: 5px;
}
.footer__email {
  margin: 5px;
}
.footer__logo__wrapper {
  padding: 10px;
}
.footer__media {
}
.footer__media__image {
  height: 180px;
  width: 180px;
  @include media("<phone") {
    height: 130px;
    width: 130px;
  }
}
.footer__social__wrapper {
  margin-top: 30px;
}
.footer__social__text {
  color: $color-quarter-spanish-white;
}
.footer__social__media__wrapper {
  padding-top: 30px;
}
.footer__social__icon__image {
  height: 90px;
  width: 90px;
  @include media("<phone") {
    height: 50px;
    width: 50px;
  }
}

.footer__poweredby {
  padding: 30px;
}

.footer__poweredby__text {
  font-style: italic;
  color: $color-quarter-spanish-white;
}
