.navigation {
}
.navigation__wrapper {
  padding: 0 10px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  z-index: 9999;
  width: 100vw;
  background-color: $color-night-blue-transparent;
}
.navigation__bar {
  height: 80px;
  display: flex;
  /* Position the navbar at the top of the page */
  justify-content: space-between;
  width: 100%;
}
.navigation__link {
  margin-top: auto;
  margin-bottom: auto;
}
.navigation__link__icon {
  height: 70px;
  width: 70px;
}
.navigation__hamburger {
  margin-top: auto;
  margin-bottom: auto;
  fill: $color-quarter-spanish-white;
  padding-right: 3px;
}

.navigation__hamburger__link {
  fill: $color-quarter-spanish-white;
  height: 40px;
  width: 40px;
}
.navigation__open {
  overflow: hidden;
  margin-top: 100px;
  height: 100vh;
}
.navigation__list {
}

.navigation__list__opened {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__list__item {
  @extend %title;
  padding: 5px;
}
.navigation__list__link {
}
.menu {
  height: "100vh";
  width: "100vw";
  background-color: rgba(154, 197, 252, 0.4);
}

.go__back {
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  font-family: "AirstreamNF";
  color: $color-night-blue;
  padding: 30px;
}
