*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
}

body {
  line-height: 1;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

img {
  vertical-align: middle;
}
