html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $raleway;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

img {
  vertical-align: middle;
}
