extends ../base

block variables
  - var template = "team"

block content
  .team__wrapper
    h1.team__title=team.data.title[0].text
    .team__hero
    figure.team__hero__media
      img.team__hero__media__image(alt=team.data.image.alt src=team.data.image.url)

