extends ../base

block variables
  - var template = "team"

block content
  include ../partials/navigation
  .team__wrapper
    h1.team__title=team.data.title[0].text
    img.team_image(alt=team.data.image.alt src=team.data.image.url)

