.home {
  width: 100vw;
  overflow: hidden;
  background: $color-night-blue;
  color: $color-quarter-spanish-white;
}

.home__wrapper {
  width: 100vw;
  overflow: hidden;
}

.home__landing {
  @extend %relative;
  @extend %fullscreen;
  overflow: hidden;
}

.home__landing__left {
  position: relative;
  width: 50vw;

  @include media("<phone") {
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 0;
    left: 0;
  }
}

.home__landing__background {
  @include media("<phone") {
    height: 60vh;
    width: 100vw;
  }
}

.home__landing__background__image {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center center;
  overflow: hidden;

  @include media("<phone") {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
  }
}

.home__landing__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;

  @include media("<phone") {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50vh;
    z-index: 2;
  }
}

.home__landing__media {
  width: 180px;
  margin-left: auto;
  margin-right: 30px;
  @include media("<phone") {
    margin-top: 30%;
    margin-right: auto;
    margin-left: auto;
  }
}

.home__landing__media__image {
  height: 180px;
  width: 180px;
  margin-top: 80px;
  @include media("<phone") {
    height: 180px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.home__landing__introduction {
  margin-top: 40%;
  @include media("<tablet") {
    margin-top: 40%;
  }
  @include media("<phone") {
    margin-top: 20px;
  }
}

.home__landing__introduction__title {
  font-family: $airstream;
  font-size: 90px;
  text-align: center;
  @include media("<phone") {
    font-size: 50px;
    padding: 10px;
  }
}

.home__landing__introduction__subtitle {
  font-family: $quicksand;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  @include media("<phone") {
    font-size: 18px;
  }
}

.home__landing__countries {
  position: absolute;
  right: 10%;
  top: 50%;
  opacity: 1;
  @include media("<phone") {
    // position: relative;
    // text-align: center;
    // line-height: normal;
    // top: 5%;
    // right: 0;
    opacity: 0;
  }
}

.home__landing__scroll {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.home__landing__scroll__text {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.home__landing__scroll__text::after,
.home__landing__scroll__text::before {
  content: " - ";
}
