.home {
  width: 100vw;
  overflow: hidden;
  background: $color-night-blue;
  color: $color-quarter-spanish-white;
}

.home__wrapper {
  width: 100vw;
  overflow: hidden;
}

.home__landing {
  @extend %relative;
  @extend %fullscreen;
  overflow: hidden;
}

.home__landing__left {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  @include media(">=phone") {
    position: relative;
    width: 100vw;
  }
}

.home__landing__background {
  @extend %fullscreen;
  @include media(">=phone") {
    width: 100vw;
    overflow: hidden;
  }
}

.home__landing__background__image {
  height: 50%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  @include media(">=phone") {
    width: 80vw;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center center;
    overflow: hidden;
  }
}

.home__landing__right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  @include media(">=phone") {
    position: relative;
    width: 100vw;
  }
}
.home__landing__media {
  margin-top: 70%;
  @include media(">=phone") {
    width: 180px;
  }
}

.home__landing__media__image {
  height: 180px;
  width: 180px;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.home__landing__introduction {
  margin-top: 20px;
  @include media(">=phone") {
    margin-top: 40%;
  }
}

.home__landing__introduction__title {
  font-size: 50px;
  font-family: $airstream;
  text-align: center;
  padding: 10px;
  @include media(">=phone") {
    font-size: 70px;
  }
}

.home__landing__introduction__subtitle {
  font-family: $quicksand;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.home__landing__countries {
  text-align: center;
  line-height: normal;
  margin-top: 5%;
}

.home__landing__scroll {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.home__landing__scroll__text {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.home__landing__scroll__text::after,
.home__landing__scroll__text::before {
  content: " - ";
}
