.home__homedown {
}

.home__homedown__wrapper {
}

.home__homedown__heroarea__title {
  @extend %title;
}

.home__homedown__heroarea__subtitle {
  @extend %subtitle;
}

.home__homedown__heroarea__background {
  @extend %relative;
  margin: 30px 0;
}

.home__homedown__heroarea__hero {
  width: 100%;
  object-fit: cover;
}

.home__homedown__heroarea__quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.home__homedown__heroarea__quote__text {
  opacity: 0;
}

.home__homedown__heroarea__quote__shorter {
  border: 3px solid $color-quarter-spanish-white;
  padding: 10px 20px;
}

.home__homedown__heroarea__button {
  text-align: center;
  @extend %relative;
}

.home__homedown__heroarea__button__intro {
  @extend %description;
}

.home__homedown__heroarea__button__item {
  margin: 30px auto;
  display: block;
  padding: 16px 32px;
  border: 3px solid $color-quarter-spanish-white;
  background-color: rgba(255, 255, 255, 0.2);
}

.home__homedown__heroarea__cta {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $color-ferrari-red;
  position: relative;

  margin: 90px auto 60px;
}
.home__homedown__heroarea__cta__text {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home__homedown__values {
}

.home__homedown__values__article {
  padding-top: 30px;
}
.home__homedown__values__media__image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home__homedown__values__image {
  width: 100%;
  object-fit: contain;
}

.home__homedown__values__title {
  @extend %title;
}

.home__homedown__values__description {
  @extend %description;
}
